/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}







































* { margin: 0; padding: 0; }

body {
    background: url("../images/green-background.jpg") no-repeat center 85%;
    -webkit-transition: all 1.5s ease-out;
    -moz-transition: all 1.5s ease-out;
    -o-transition: all 1.5s ease-out;
    -ms-transition: all 1.5s ease-out;
    transition: all 1.5s ease-out;
}

.winnerCat { background: url("../images/winnerCat.jpg") no-repeat center 15%; }
.winnerDog { background: url("../images/winnerDog.jpg") no-repeat center 15%; }

.pageWrapper {
    position: relative;
    top: 100px;
    width: 600px;
    margin: 0 auto;
}

#center {
    width: 304px;
    margin: 0 auto;
}

.transparent {
    display: none;
    position: absolute;
    left: 148px;
    width: 304px;
    height: 302px;
}

.cube {
    width: 101px;
    height: 100px;
}

.cube.zero:after { display: block; }
.cube.cross:before { display: block; }

.cube:before,
.cube:after {
    display: none;
    position: absolute;
    font-size: 70px;
    padding: 9px 30px;
    color: #fff;
}

.cube:before { content: '\2717'; }
.cube:after { content: '\0BE6'; }

.leftCube {
    float: left;
    border-right: 1px solid #fff;
}

.rightCube {
    float: right;
    border-left: 1px solid #fff;
}

.centerCube {
    margin-left: 102px;
}

.cube:nth-child(4),
.cube:nth-child(5),
.cube:nth-child(6) {
    border-top: 1px solid #fff; border-bottom: 1px solid #fff;
}

#button {
    position: absolute;
    left: 29px;
    top: 43px;
    width: 54px;
    height: 54px;
    color: #000;
    border-radius: 50%;
    border: 1px solid #FFED23;
    background-color: #FFED23;
    font: normal 14px Century Gothic;
}
#button:focus { outline: none; }
#button:hover { cursor: pointer; }

.wrapPetal {
    position: relative;
    width: 120px;
    height: 140px;
    -webkit-transition: -webkit-transform 1.5s ease-out;
    -moz-transition: -moz-transform 1.5s ease-out;
    -ms-transition: -ms-transform 1.5s ease-out;
    -o-transition: -o-transform 1.5s ease-out;
    transition: transform 1.5s ease-out;
}

.petal {
    width: 108px;
    height: 30px;
    top: 55px;
    right: 9px;
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -ms-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
}

.petal,
.petal:before,
.petal:after {
    position: absolute;
    border-radius: 50%;
}

.petal:before,
.petal:after {
    content: '';
    width: 36px;
    height: 90px;
    right: 37px;
    top: -30px;
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -ms-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
}

.petal:before {
    -webkit-transform: skewX(-27deg);
    -moz-transform: skewX(-27deg);
    -ms-transform: skewX(-27deg);
    -o-transform: skewX(-27deg);
    transform: skewX(-27deg);
}
.petal:after {
    -webkit-transform: skewX(27deg);
    -moz-transform: skewX(27deg);
    -ms-transform: skewX(27deg);
    -o-transform: skewX(27deg);
    transform: skewX(27deg);
}

.whiteFlower,
.whiteFlower:before,
.whiteFlower:after {
    background-color: #fff;
}

.redFlower,
.redFlower:before,
.redFlower:after {
    background-color: #FF0000;
}

.rollingFlower {
    -webkit-transform: translateX(480px) rotateZ(360deg);
    -moz-transform: translateX(480px) rotateZ(360deg);
    -ms-transform: translateX(480px) rotateZ(360deg);
    -o-transform: translateX(480px) rotateZ(360deg);
    transform: translateX(480px) rotateZ(360deg);
}

.message {
    position: fixed;
    top: 410px;
    left: 190px;
    width: 220px;
    height: 100px;
    background-color: rgba(240, 232, 232, 0.48);
    z-index: 100;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.52);
}

#crossIsWinner, #knotIsWinner { display: none; }

.message p {
    text-align: center;
    padding: 20px 0;
    font: normal 16px "Century Gothic";
    color: #000;
}

.message button {
    position: relative;
    left: 86px;
    bottom: 5px;
    width: 48px;
    height: 30px;
    outline: none;
    border-radius: 2px;
    border: 1px solid #A29C9C;
    font-family: Century Gothic;
}
.message button:hover { border: 1px solid #908A8A; }









